body,ul,li{
	margin:0;
	padding: 0;
	list-style: none;
}
.box{
	width: 500px;
	height: 550px;
	border: 1px solid #666;
	margin: 0 auto;
}
.word{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.word_con{
	float: left;
	width: 33.33%;
}
.one{
	font-weight: bold;
	text-decoration: underline;
}


img{
	display:block; 
}
.tab li{
	
	display: none;
}
.tab .over{
	display: block;
}