<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/jquery.js"></script>
    <script src="js/swiper.animate1.0.2.min.js"></script>
    <script src="js/swiper.jquery.js"></script>
    <script src="js/iscroll.js"></script>
    <script src="js/index.js"></script>
    
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<script>
    function move(obj,type){
        var type=type||"x";
        if(type=="x"){
            var ws=document.documentElement.clientWidth;
            var scale=ws/obj*100;
            document.getElementsByTagName("html")[0].style.fontSize=scale+"px";
        }else if(type=="y"){
            var hs=document.documentElement.clientHeight;
            var scale=hs/obj*100;
            document.getElementsByTagName("html")[0].style.fontSize=scale+"px";
        }
    }
    window.onload=function () {
        var mySwiper= new Swiper (".swiper-container",{
            onInit: function(swiper){
                swiperAnimateCache(swiper);
                swiperAnimate(swiper);
            },
            onSlideChangeEnd: function(swiper){
                swiperAnimate(swiper);
            },
            pagination:".swiper-pagination",

        });
        move(750);
    }
</script>
<body>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="box1 box1s">
                <ul>
                    <li>精选</li>
                    <li>娱乐</li>
                    <li>美食</li>
                    <li>军事</li>
                    <li>综艺</li>
                    <li>体育</li>
                    <li>+</li>
                </ul>
            </div>
            <div class="vedio1">
                <div class="vid">
                	<span class="vid_word">蔡英文要见特朗普？大佬警告：大陆若出手台湾难抗</span>
                </div>
                <span class="vid_pingtu"></span>
                <span class="vid_ping">12.5万</span>
                <span class="vid_share"></span>
                <span class="vid_con">69</span>
                <span class="cons3"></span>
            </div>
            <div class="vedio1">
                <div class="vid">
                	<span class="vid_word">蔡英文要见特朗普？大佬警告：大陆若出手台湾难抗</span>
                </div>
                <span class="vid_pingtu"></span>
                <span class="vid_ping">12.5万</span>
                <span class="vid_share"></span>
                <span class="vid_con">69</span>
                <span class="cons3"></span>
            </div>
            <div class="vedio1">
                <div class="vid">
                	<span class="vid_word">蔡英文要见特朗普？大佬警告：大陆若出手台湾难抗</span>
                </div>
                <span class="vid_pingtu"></span>
                <span class="vid_ping">12.5万</span>
                <span class="vid_share"></span>
                <span class="vid_con">69</span>
                <span class="cons3"></span>
            </div>
        </div>
    </div>
</div>
<div class="last">
    <div class="last1">
        <a href="index.html" class="last_pic" style="color:red"></a>
        <a href="index.html" class="last_con" style="color:red">新闻</a>
    </div>
    <div class="last1">
        <a href="video.html" class="last_pic1"></a>
        <a href="video.html" class="last_con">视频</a>
    </div>
    <div class="last1">
        <a href="hot.html" class="last_pic2"></a>
        <a href="hot.html" class="last_con">凤凰热</a>
    </div>
    <div class="last1">
        <a href="me.html" class="last_pic3"></a>
        <a href="me.html" class="last_con">我</a>
    </div>
</div>
</body>
</html>